# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in nagios2-common_services.cfg may also apply.
# 

#define host{
#        use                     generic-host            ; Name of host template to use
#        host_name               gateway
#        alias                   gateway
#        address                 192.168.1.1
#        }

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             generic-service,srv-pnp-tips         ; Name of service template to use
        host_name                       gateway
        service_description             check_root_fs
        check_command                   check_disk_proxy!20%!10%!/
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       gateway
        service_description             Current Users
        check_command                   check_users!20!50
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 processes.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       gateway
        service_description             Total Processes
	check_command                   check_procs!350!500
        }



# Define a service to check the load on the local machine. 

define service{
        use                             generic-service,srv-pnp-tips         ; Name of service template to use
        host_name                       gateway
        service_description             Current Load
	check_command                   check_load!5.0!4.0!3.0!10.0!6.0!4.0
        }


define service{
        use                             generic-service,srv-pnp-tips         ; Name of service template to use
        host_name                       gateway
        service_description             Local HTTPS Server
        check_command                   check_local_https!10443
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       gateway
        service_description             Memory usage
        check_command                   local_check_memory!95!99
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       gateway
        service_description             dns check
        check_command                   local-dns-check!www.terminalquequen.com.ar!10!20
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       gateway
        service_description             check_authlog
        check_command                   check_authlog!/var/log/auth.log!15!10
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       gateway
        service_description             check_dns_soa
        check_command                   check_dns_soa!1!2
}

define service{
	use				generic-service,srv-pnp-tips
	host_name			gateway
	service_description		check-disk-inodes-rootfs
	check_command			check-disk-inodes!85!90!/
}

